$red-color: #fe5f5f;
$blackred-color: #e34f4f;
$blue-color: #3865A7;
$black-color: #000000;
$lightblack-color: #2b2b2b;
$brightblack-color: #2f2f2f;
$lightgray:  #D3D3D3;
$whitesmoke: #F5F5F5;
$white: #ffffff;
$black: #000000;
$line-height: 118%;
