.footer {
	background-color: $brightblack-color;
	padding: 1.40625rem 0;
	a {
		text-decoration: none;
		color: #ffffff;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 73%;
		font-family: 'Circe Bold';
		font-size: 1rem;
		margin-right: 7rem;
	}
	&__contact {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 27%;
		flex-shrink: 0;
		font-family: 'Circe Bold';
		font-size: 1rem;
	}
	&__item {
		padding: 0.46875rem 0;
	}
}
