.menu {
    position: relative;
    z-index: 10;
    width: 12.5rem;
    height: 100vh;
    position: fixed;
    background-color: $brightblack-color;
    left: -12.5rem;
    top: 0;
    transition: all ease 0.4s;
    &__list {
        background-color: $brightblack-color;
        display: flex;
        flex-direction: column;
        padding: 0 1.25rem;
        align-items: flex-start;
        font-family: 'Circe Regular';
        margin-top: 3rem;
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
			text-decoration: underline;
		}
		&:active {
			opacity: 0.7;
		}
    }
    &__block {
        display: flex;
    }
    &__item {
        padding: 0.85rem 0;
    }
}
.close {
    position: absolute;
    right: 1.25rem;
    top: 0.625rem;
    width: 1.375rem;
    height: 1.375rem;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:before {
        position: absolute;
        left: 0.9375rem;
        content: '';
        height: 2.0625rem;
        width: 0.125rem;
        background-color: white;
        transform: rotate(45deg);
    }
    &:after {
        position: absolute;
        left: 0.9375rem;
        content: '';
        height: 2.0625rem;
        width: 0.125rem;
        background-color: white;
        transform: rotate(-45deg);
    }
}
.backdrop {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: none;
}
