.header {
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.hamburger {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    border-top: 7px solid $brightblack-color;
    border-bottom: 7px solid $brightblack-color;
    &:before {
        content: "";
        position: absolute;
        top: 9.5px;
        left: 0px;
        width: 100%;
        border-top: 7px solid $brightblack-color;
        }
}

.personal {
	display: flex;
	align-items: center;
	a {
		color: $black-color;
		text-decoration: none;
    }
    &__account {
        margin-right: 1.6875rem;
	}
	&__catalog {
		font-family: 'Circe Bold';
		font-size: 1rem;
	}
}
.assistant {
	display: flex;
	align-items: center;
	a {
		color: $red-color;
		text-decoration: none;
	}
	&__img {
		margin-right: 1rem;
		width: 2.4375rem;
		img {
			width: 100%;
		}
	}
	&__online {
		font-family: 'Circe Bold';
		font-size: 1rem;
	}
}
