* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/Circe-Bold.eot');
    src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1063px;
    margin: 0 auto;
}

.promo {
    height: 843px;
    background: url('../img/background/promo.svg') center center/cover no-repeat;
    padding-top: 29px;
}

/* .promo__container {
    width: 1063px;
    margin: 0 auto;
} */

.promo__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 188px;
}

.personal {
    display: flex;
    align-items: center;
}

.personal__account {
    margin-right: 27.51px;
}

.personal__account__btn {
    width: 171.49px;
    height: 37.96px;
    border-radius: 50px;
    background-color: #fe5f5f;
    border: none;
    color: white;
    font-family: 'Circe Regular';
    font-size: 16px;
}

.personal__catalog {
    font-family: 'Circe Bold';
    font-size: 16px;
}

.assistant {
    display: flex;
    align-items: center;
}

.assistant__img {
    width: 38.31px;
    height: 38.31px;
    margin-right: 14.69px;
}

.assistant__online {
    font-family: 'Circe Bold';
    font-size: 16px;
    color: #fe5f5f;
}

.promo__text {
    font-family: 'Circe Bold';
    font-size: 35px;
    line-height: 111.4%;
    margin-left: 4px;
    color: #2b2b2b;
}

.question{
    height: 370px;
    background: url('../img/background/rectangle.svg') center center/cover no-repeat;
    padding-top: 85px;
    margin-bottom: 159px;
}

/* .question__container {
    width: 1063px;
    margin: 0 auto;
} */

.question__text {
    font-family: 'Circe Bold';
    font-size: 30px;
    line-height: 117.4%;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 39px;
}

.question__answer {
    display: flex;
    justify-content: center;
}

.answer__yes {
    width: 377.09px;
    height: 54px;
    border-radius: 50px;
    background-color: #fe5f5f;
    border: none;
    color: white;
    font-family: 'Circe Regular';
    font-size: 22px;
    margin-right: 26.82px;
}
.answer__no {
    width: 402.33px;
    height: 54px;
    border-radius: 50px;
    background-color: #3865A7;
    border: none;
    color: white;
    font-family: 'Circe Regular';
    font-size: 22px;
}

.descr {
    margin-bottom: 174px;
}

/* .descr__container {
    width: 1063px;
    margin: 0 auto;
} */

.descr__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.descr__word {
    font-family: 'Circe Bold';
    font-size: 40px;
    color: #2b2b2b;
    margin: 0px 16px 0px 16px;
}

.descr__info {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.info__picture__one, .info__picture__two, .info__picture__three {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: stretch; */
}

.picture__one__house {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178.11px;
    height: 164.6px;
    background: url('../img/descr/background_1.svg') center center/cover no-repeat;
    margin-bottom: 25.13px;
}

.house__blue {
    margin-left: -8px;
    margin-bottom: -4px;
}

.house__red {
    margin-top: -8px;
    margin-left: -12px;
}

.picture__one__number, .picture__two__number, .picture__three__number {
    font-family: 'Circe Bold';
    font-size: 50px;
    color: #3865A7;
}

.picture__one__text, .picture__two__text, .picture__three__text {
    text-align: center;
    font-family: 'Circe Bold';
    font-size: 20px;
    line-height: 122.4%;
    color: #000000;
}

.picture__two__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204.1px;
    height: 189.72px;
    background: url('../img/descr/background_2.svg') center center/cover no-repeat;
    margin: 0px 155px;
}

.picture__three__men {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 179.55px;
    height: 177.15px;
    background: url('../img/descr/background_3.svg') center center/cover no-repeat;
    margin-bottom: 12.58px;
}

.footer {
    height: 86px;
    background-color: #2F2F2F;
    padding: 30px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.info__link {
    display: flex;
    font-family: 'Circe Bold';
    font-size: 16px;
    color: #ffffff;
}

.info__contact {
    display: flex;
    font-family: 'Circe Bold';
    font-size: 16px;
    color: #ffffff;
}

.link__indent {
    margin-right: 34px;
}
