@import 'base/variables';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1063px;
	margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/question';
@import 'blocks/descr';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/font_size';
@import 'blocks/hamburger';
